<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="3.0">
  <servlet>
    <description></description>
    <display-name>AdminValidationServlet</display-name>
    <servlet-name>AdminValidationServlet</servlet-name>
    <servlet-class>com.db.controler.AdminValidationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminValidationServlet</servlet-name>
    <url-pattern>/AdminValidationServlet</url-pattern>
  </servlet-mapping>
  <display-name>OnlineFoodOrderSyste</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ItemServlet</display-name>
    <servlet-name>ItemServlet</servlet-name>
    <servlet-class>com.db.controler.ItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemServlet</servlet-name>
    <url-pattern>/ItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DbConnection</display-name>
    <servlet-name>DbConnection</servlet-name>
    <servlet-class>com.db.utils.DbConnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DbConnection</servlet-name>
    <url-pattern>/DbConnection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemDAO</display-name>
    <servlet-name>ItemDAO</servlet-name>
    <servlet-class>com.db.utils.ItemDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemDAO</servlet-name>
    <url-pattern>/ItemDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Items</display-name>
    <servlet-name>Items</servlet-name>
    <servlet-class>demo.Items</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Items</servlet-name>
    <url-pattern>/Items</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MenuItems</display-name>
    <servlet-name>MenuItems</servlet-name>
    <servlet-class>demo.MenuItems</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuItems</servlet-name>
    <url-pattern>/MenuItems</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Minpath</display-name>
    <servlet-name>Minpath</servlet-name>
    <servlet-class>demo.Minpath</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Minpath</servlet-name>
    <url-pattern>/Minpath</url-pattern>
  </servlet-mapping>
</web-app>